.header-bottom-right a i,
.section-title span,
.btn-more,
.news-list-3 .news-item .text .author,
.article-pagination .pagination a.pagenum,
.article-pagination .pagination a,
.news-card-3 .text span,
.tags-group a i,
.section-title.bigger span i,
.tag-list-1 a i,
a:hover,
.article-ct a{
    color: #fe6847;
}
.weather-forecast,
.section-title span::after,
.btn.primary,
.footer-section-1 .row,
.footer-section-3,
.breaking-news-title i{
    background-color: #fe6847;
}
.popular-list .item i,
.news-card-3,
.article-pagination .pagination a.pagenum{
    border-color: #fe6847;
}

