.brand-widget-small{
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}
.brand-widget-small .brand-banner{
    width: 100%;
}
.widget-small-grid{
    padding: 20px;
}
.widget-row{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.widget-row:last-child{
    margin-bottom: 0;
}
.brand-widget-small .text h3{
    color: #fff;
}

.burger{
    order: 2;
    width: 40px;
    text-align: center;
}

/* MEGA MENU */
.mega-menu{
    width: 100%;
    position: fixed;
    top: 120px;
    max-height: 80vh;
    overflow: auto;
    left: 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    padding: 10px 0;
    opacity: 0;
    pointer-events: none;
    transition: all ease-out 0.3s;
}
.mega-menu.show{
    opacity: 1;
    pointer-events: auto;
}
.niche-web .mega-menu{
    top: 78px;
}
.mega-menu-list{
    column-count: 5;
    column-gap: 20px;
}
.mega-menu-list li a{
    display:block;
    width:100%;
    padding: 10px;
    font-size: 14px;
    color:#333;
}
.mega-menu-list li a:hover{
    color: #E6465C;
}
/* MEGA MENU END */

/* STICKY SHARE */
.sticky-share{
    position: fixed;
    top:-50px;
    left: 0;
    width: 100vw;
    padding: 4px 0;
    background: #f4f4f4;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    z-index: 101;
}
.sticky-share.scrolled{
    top:0;
}
.sticky-share .col-md-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky-share h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-right: 60px;
}
.sticky-share .right-group{
    display: flex;
    justify-content: end;
    gap: 16px;
    align-items: center;
}
.comment-bt-2{
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #ccc;
    white-space: nowrap;
}
.comment-bt-2 i{
    font-size: 14px;
    color: #E6465C;
}
.sticky-share .share-group{
    display: flex;
    gap: 4px;
    align-items: center;
}
.sticky-share .share-group span{
    font-size: 12px;
    font-weight: bold;
    color: #555;
    white-space: nowrap;
}
.sticky-share .share-group a{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
}
.sticky-share .share-group a.fb{
    background: #1559c2;
}
.sticky-share .share-group a.wa{
    background: #43ce13;
}
.sticky-share .share-group a.tw{
    background: #000;
}
.sticky-share .share-group a.other{
    background: #555;
}
/* STICKY SHARE END */

/* NIGHTMODE */
body.night .burger,
body.night .headline-slider .owl-nav .owl-prev,
body.night .headline-slider .owl-nav .owl-next,
body.night .mega-menu-list li a{
    color: rgba(255,255,255,0.8);
}
body.night .mega-menu{
    background: #121212;
}

@media only screen and (max-width: 1024px){
    .header-right-bottom{
        justify-content: end;
    }
    .src-form{
        width: 38px;
        height: 38px;
    }
    .src-form button{
        pointer-events: none;
    }
    .src-form.active button{
        pointer-events: auto;
        z-index: 100;
    }
    .src-form.active{
        pointer-events: auto;
        z-index: 99;
    }
    .src-form.active input{
        width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        border: 1px solid #ccc;
        background: #fff;
        opacity: 1;
    }
    .mega-menu{
        top: 80px;
    }
    .niche-web .mega-menu{
        top:52px;
    }
    .mega-menu-list{
        column-count: 3;
    }
    .sticky-share{
        width: 300px;
        justify-content: center;
        top:auto;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        border: 1px solid #dedede;
    }
    .sticky-share.scrolled{
        top: auto;
        bottom: 60px;
    }
    .sticky-share .right-group{
        width: 100%;
        justify-content: space-between;
    }
    .sticky-share .share-group span{
        display: none;
    }
}

@media only screen and (min-width:480px) and (max-width:1024px){
    .weather-forecast{
        order: 2;
        margin-left: 8px;
    }
    .weather-forecast .text{
        flex-direction: column;
        gap: 0;
    }
    .weather-forecast i.weather-icon{
        font-size: 24px;
        line-height: 100%;
    }
    .weather-forecast .temperature{
        font-size: 14px;
        line-height: 100%
    }
}

@media only screen and (max-width:480px){
    .weather-forecast{
        width: 100%;
    }
    .weather-forecast i.weather-icon{
        font-size: 18px;
    }
    .weather-forecast .text{
        flex-direction: row;
        align-items: center;
    }
    .weather-forecast .city-selector{
        top: 4px;
    }
    main .bg-gray-100{
        margin-bottom: 16px;
    }
    .article-ct figure img{
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }
    .mega-menu-list{
        column-count: 2;
    }
}