.brand-widget-small{
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}
.brand-widget-small .brand-banner{
    width: 100%;
}
.widget-small-grid{
    padding: 20px;
}
.widget-row{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.widget-row:last-child{
    margin-bottom: 0;
}
.brand-widget-small .text h3{
    color: #fff;
}

.burger{
    order: 2;
    width: 40px;
    text-align: center;
}

/* NIGHTMODE */
body.night .burger,
body.night .headline-slider .owl-nav .owl-prev,
body.night .headline-slider .owl-nav .owl-next{
    color: rgba(255,255,255,0.8);
}

@media only screen and (max-width: 1024px){
    .header-right-bottom{
        justify-content: end;
    }
    .src-form{
        width: 38px;
        height: 38px;
    }
    .src-form button{
        pointer-events: none;
    }
    .src-form.active button{
        pointer-events: auto;
        z-index: 100;
    }
    .src-form.active{
        pointer-events: auto;
        z-index: 99;
    }
    .src-form.active input{
        width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        border: 1px solid #ccc;
        background: #fff;
        opacity: 1;
    }
}

@media only screen and (min-width:480px) and (max-width:1024px){
    .weather-forecast{
        order: 2;
        margin-left: 8px;
    }
    .weather-forecast .text{
        flex-direction: column;
        gap: 0;
    }
    .weather-forecast i.weather-icon{
        font-size: 24px;
        line-height: 100%;
    }
    .weather-forecast .temperature{
        font-size: 14px;
        line-height: 100%
    }
}

@media only screen and (max-width:480px){
    .weather-forecast{
        width: 100%;
    }
    .weather-forecast i.weather-icon{
        font-size: 18px;
    }
    .weather-forecast .text{
        flex-direction: row;
        align-items: center;
    }
    .weather-forecast .city-selector{
        top: 4px;
    }
    main .bg-gray-100{
        margin-bottom: 16px;
    }
    .article-ct figure img{
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }
}